body{
    margin: 0px;
}

.container .animate{
    width: 100px;
    height: 100px;
    margin: auto;
    background-color: green;
    border: thin solid black;
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
    animation: animations;
    animation-duration: 4s;
    animation-delay: 3s;
 
}
@keyframes animations{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100%{
        opacity: 0.5;
    }
}
