* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #333;
}

label {
  color: #333;
  font-size: 14px;
}

input[type=text], input[type=date], select {
  border-radius: 3px;
  border: thin solid #999;
  padding: 5px;
}

select {
  width: 100%;
}

header .container .menu ul li a {
  font-size: 15px;
}

header {
  width: 100%;
  height: 80px;
  background: #fff;
  box-shadow: 0 0 7px 0px #999;
  position: relative;
  display: flex;
  justify-content: space-between;
}
header .container {
  width: 90%;
  margin: auto;
  display: flex;
}
header .container .logo {
  width: 120px;
  margin-top: 0;
}
header .container .menu {
  margin-left: 15px;
}
header .container .menu ul {
  margin-top: 5px;
}
header .container .menu ul li {
  display: inline-block;
  margin: 0 15px;
}
header .container .menu ul li a {
  text-decoration: none;
  color: #333;
}
header .social {
  position: relative;
  right: 50px;
  top: 18px;
}

.company {
  margin-top: 80px;
}

.customer h1 {
  text-align: center;
  font-size: 22px;
  color: #666;
  font-weight: 600;
  background: #f2f2f2;
  height: 90px;
  padding-top: 30px;
  text-transform: capitalize;
}

.progress-bar {
  width: 600px;
  margin: auto;
}

.form {
  max-width: 400px;
  margin: 20px auto;
}
.form label {
  display: block;
  margin: 10px 0;
  font-size: 16px;
}
.form input {
  width: 100%;
  height: 40px;
  padding: 5px;
}
.form select {
  width: 100%;
  background: none;
  padding: 10px;
}
.form input[type=date] {
  width: 150px;
  padding: 5px;
}

h2 {
  border-bottom: thin solid #999;
  padding-bottom: 10px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #666;
  font-weight: 500;
  font-size: 20px;
}

.account {
  margin-top: 50px;
}
.account h2 {
  font-size: 16px;
  margin-top: 30px;
}
.account select {
  margin: 5px 0px;
}
.account input[type=date] {
  margin-top: 10px;
}

.country select {
  margin-top: 10px;
}
.country label {
  margin: 20px 0;
}
.country input {
  margin: 10px 0;
}

.fixedVariableRate {
  width: 100%;
  margin: auto;
  font-size: 15px;
}
.fixedVariableRate h5 {
  margin-left: 40px;
}
.fixedVariableRate div {
  display: flex;
  justify-content: flex-start;
  margin-top: 20px;
  margin-left: 50px;
}
.fixedVariableRate div input[type=checkbox] {
  margin: 0;
  margin-right: 15px;
  margin-top: 2px;
}
.fixedVariableRate div ul {
  margin: 0;
  padding: 0;
}
.fixedVariableRate ul li {
  list-style: none;
}
.fixedVariableRate ul li p {
  font-size: 10px;
  font-style: italic;
  color: #ccc;
}

footer {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
footer button {
  padding: 10px 20px;
  border: none;
  font-weight: 600;
  color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}
footer .next {
  background: deepskyblue;
  box-shadow: 1px 1px 4px 0px skyblue;
}
footer .back {
  background: #999;
  box-shadow: 1px 1px 4px 0px #666;
}

.applyProduct {
  max-width: 400px;
  margin: auto;
  margin-top: 100px;
  /* Hide the browser's default checkbox */
  /* Create a custom checkbox */
  /* On mouse-over, add a grey background color */
  /* When the checkbox is checked, add a blue background */
  /* Create the checkmark/indicator (hidden when not checked) */
  /* Show the checkmark when checked */
  /* Style the checkmark/indicator */
}
.applyProduct .filter .container input {
  opacity: 1;
  cursor: pointer;
  height: 100px;
  width: 100px;
}
.applyProduct h3 {
  font-size: 24px;
  margin-top: 20px;
  color: #666;
}
.applyProduct h5 {
  color: #ccc;
  font-weight: 500;
}
.applyProduct label {
  font-size: 14px;
}
.applyProduct p {
  padding-top: 5px;
  font-size: 15px;
  color: #333;
}
.applyProduct ul li p {
  font-size: 12px;
}
.applyProduct .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.applyProduct .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}
.applyProduct .container:hover input ~ .checkmark {
  background-color: #ccc;
}
.applyProduct .container inpufixedVariableRatet:checked ~ .checkmark {
  background-color: #2196F3;
}
.applyProduct .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.applyProduct .container input:checked ~ .checkmark:after {
  display: block;
}
.applyProduct .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  margin-top: 20px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.annualTax {
  margin-left: 50px;
  margin-top: 15px;
}
.annualTax p {
  font-size: 13px;
  color: #666666;
  margin-bottom: 10px;
}
.annualTax p input[type=radio] {
  margin-right: 5px;
  margin-top: 10px;
}
.annualTax select {
  width: 200px;
  padding: 10px;
  background: none;
  border: thin solid #666;
  margin: 0;
  margin-bottom: 10px;
  font-size: 12px;
}

.payment .driver {
  margin-top: 25px;
}
.payment .driver p {
  margin-left: 15px;
  margin-top: 10px;
}
.payment .driver span {
  font-size: 13px;
  font-style: italic;
  color: #666;
  margin-top: 10px;
}
.payment .driver h3 {
  margin: 7px auto;
  font-size: 16px;
}
.payment [type=radio]:checked,
.payment [type=radio]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.payment [type=radio]:checked + label,
.payment [type=radio]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
.payment [type=radio]:checked + label:before,
.payment [type=radio]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
.payment [type=radio]:checked + label:after,
.payment [type=radio]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: deepskyblue;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.payment [type=radio]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.payment [type=radio]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.detailForm {
  width: 100% !important;
  border: none !important;
  position: relative !important;
  top: 0px !important;
  box-shadow: none !important;
  padding-bottom: 50px !important;
}
.detailForm input {
  width: 150px;
  height: 40px;
  margin: 5px 0;
}
.detailForm .progressHeading {
  position: relative;
  top: -10px;
  border: none !important;
  margin: 0px !important;
}
.detailForm input[type=radio] {
  width: 20px;
  margin-left: 50px;
  position: relative;
  top: 15px;
}
.detailForm li:last-child {
  width: 5px;
  color: red;
  font-weight: 600;
  cursor: pointer;
}
.detailForm li img {
  position: relative;
  top: 5px;
  cursor: pointer;
}
.detailForm li img:hover {
  opacity: 0.5;
}

.detail {
  max-width: 1000px;
  width: 90%;
  height: auto;
  margin: auto;
  overflow: hidden;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  top: 70px;
  box-shadow: 1px 2px 8px #999;
}
.detail .progressHeading {
  width: 100%;
  height: 50px;
  margin: 30px auto;
  border-bottom: 1px solid #999;
}
.detail ul {
  width: 90%;
  margin: auto;
  padding-left: 20px;
}
.detail ul li {
  display: inline-block;
  width: 190px;
  font-size: 15px;
  color: #333;
}
.detail .addButtonWrapper {
  width: 100%;
  border-top: 1px solid #999;
}
.detail .addButtonWrapper .addButton {
  padding: 10px;
}
.detail .addButtonWrapper .addButton img {
  cursor: pointer;
}
.detail .addButtonWrapper .addButton img:hover {
  opacity: 0.8;
  transition: all linear 0.2s;
}
.detail .addButtonWrapper button {
  color: #999;
  font-size: 1.4em;
  margin-left: 3px;
  margin-top: 2px;
  text-align: center;
  transform: translateY(-5px);
  background: none;
  border: none;
  font-weight: 700;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 80px;
  background: #999;
  margin-top: 50px;
}

/*# sourceMappingURL=style.css.map */
